@import '../../../variables.scss';

.nav__container {
  // margin-bottom: 20px;
  & .menu__container {
    align-items: center;
    background: $section-background;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    @media only screen and(min-width: $medium) {
      background: transparent;
      flex-direction: row;
      height: 60px;
      justify-content: space-between;
      padding: 0 200px;
    }
    img {
      width: 150px;
      padding: 10px 0;
    }
    .list__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and(min-width: $medium) {
        flex-direction: row;
        width: 40%;
      }
      .list__item {
        width: calc(100% / 3);
        min-width: 80px;
        a {
          color: $color-black;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:last-child {
          // width: 100%;
          a {
            border: none;
            color: $color-blue;
            &:hover {
              // color: $color-white;
            }
            @media only screen and(min-width: $medium) {
              height: 30px;
              &:hover {
                // color: $color-white;
              }
            }
          }
        }
      }
    }
  }
}
