@import '../../variables.scss';

.modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  &.show__modal {
    display: block;
  }
  &.hidde__modal {
    display: none;
  }
  .modal__main {
    align-items: center;
    background: $color-white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-evenly;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    button {
      width: 100px;
    }
  }
}
