@import './variables.scss';

html {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $monserrat;
}

body {
  color: $color-text;
  max-width: $max-width;
  background-color: $body-background;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-100 {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $f-bold;
  margin: 0;
}

p {
  font-size: $f-size-14;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

small {
  &.error {
    color: tomato;
    font-size: $f-size-10;
  }
}

.input__container {
  min-height: 60px;
  width: 100%;
  input {
    border: none;
    border-bottom: 1px solid $color-text;
    height: 40px;
    padding: 5px;
    width: 100%;
    &:focus {
      outline: none;
    }
    &.error {
      border: 1px solid tomato;
      position: relative;
      &::after {
        content: 'Campo requerido';
        display: block;
        color: red;
        height: 5px;
        position: absolute;
        top: 0;
        width: 50px;
      }
    }
    &[type='checkbox'] {
      cursor: pointer;
      height: 10px;
      margin-right: 10px;
      width: 10px;
    }
  }
  & label {
    font-size: $f-size-12;
  }
}

.custom__select {
  position: relative;
  min-height: 60px;
  width: 100%;
  select {
    appearance: none;
    border: none;
    outline: none;
    height: 40px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid $color-text;
    &.error {
      border: 1px solid tomato;
    }
  }
  &::after {
    content: '';
    display: block;
    border-left: 2px solid $color-blue;
    border-bottom: 2px solid $color-blue;
    height: 5px;
    position: absolute;
    right: 10px;
    top: 15px;
    transform: rotate(-45deg);
    width: 5px;
    cursor: pointer;
  }
}

section {
  background-image: url('./assets/Backgrounds/Bg_Header.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  @media only screen and(min-width: $medium) {
    flex-direction: row;
    align-items: center;
  }
}

//animations
.fade-in {
  animation-duration: 5s;
  animation-name: fade-in;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.fade-out {
  animation-duration: 5s;
  animation-name: fade-in;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.fade-right-left {
  animation-duration: 3s;
  animation-name: fade-right-left;
  @keyframes fade-right-left {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

.fade-left-right {
  animation-duration: 3s;
  animation-name: fade-right-left;
  @keyframes fade-left-right {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

.fade-up-down {
  animation-duration: 3s;
  animation-name: fade-up-down;
  @keyframes fade-up-down {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.fade-down-up {
  animation-duration: 3s;
  animation-name: fade-down-up;
  @keyframes fade-down-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.btn {
  align-items: center;
  background: none;
  border-radius: 20px;
  color: $color-white;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  // min-width: 100px;
  cursor: pointer;
  &:hover {
    background: $color-blue;
  }
  &:focus {
    outline: none;
  }
  &-outline {
    border: 1px solid $color-blue;
  }

  &-bg-blue {
    background: $color-blue;
    &:hover {
      background: $color-white;
      color: $color-blue;
    }
  }

  &-color-blue {
    color: $color-blue;
    &:hover {
      color: $color-white;
    }
  }

  &-slider-arrow-left,
  &-slider-arrow-right {
    border-radius: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid black;
    &:hover {
      background: none;
    }
    &:focus {
      outline: none;
    }
  }

  &-slider-arrow-left {
    transform: rotate(45deg);
    border-left: 2px solid black;
  }

  &-slider-arrow-right {
    transform: rotate(-45deg);
    border-right: 2px solid black;
  }

  &-logout {
    background-image: url('./assets/log-out.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    border-radius: 0;
    cursor: pointer;
    min-width: 25px;
    height: 30px;
  }
}

.only-responsive {
  display: block;
  @media only screen and(min-width: $medium) {
    display: none;
  }
}

.only-desktop {
  display: block;
  @media only screen and(max-width: $medium) {
    display: none;
  }
}
